@import 'tailwindcss';
@import '../styles/theme.css';
@import '../styles/base.css';
@import '../styles/utilities.css';
@import '../styles/animations.css';

@custom-variant dark (&:is(.dark *));

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}